* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

.root {
    height: 100vh;
    display: block;
}

.header-content {
    display:flex;
    justify-content:space-between;
    align-items:center;
    height: 70px;
    width: 100%;
    position: fixed;
    background-color: #fff;
    color: black;
    top: 0;
    padding: 0 10px;
    z-index: 100;
    box-shadow: 0 6px 5px -5px rgba(0,0,0,.1);
}


.dropdown-menu {
    position: relative;
    display: inline-block;
    padding: 4px 5px;
    border-radius: 50%;
    background-color: lightsalmon;
    height: 25px;
    width: 25px;
    margin: 0 0 0 10px;
  }

  .dropdown-menu:hover {
      cursor:pointer;
  }


.user-menu {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
    border-radius: 8px;  
}

.user-menu ul {
    list-style: none;
    display: table;
    width: 100%;
}
.user-menu li {

    border-bottom: 1px solid #11111111;
    display: table-caption;
    padding: 2px 10px;
}

.user-menu li i:before{
    padding: 0 5px
}

.user-menu li:hover {
    background-color: #eeeeee   ;    
}

.dropdown-menu:hover .user-menu{  
    cursor:pointer;
    display: flex;
   
}

.user-layout {
    height: calc(100vh - 70px);
    display: flex;
}

.left-sidebar {
    width: 15%; 
    z-index: 0;
    padding: 70px 10px 10px 10px;
    background: #eee;   
}

.list-wrapper {
    height: calc(100vh - 140px);
    overflow-y: auto;
    padding-top: 10px;  
}

.stream-info {
    align-items: center;
    display: flex;
    height: 40px;
}

.avatar {
    width: 32px;
    height: 32px;;
}

.text-elipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 75vh;
    padding-left: 5px;
}

.record {
    color:red;
    transform: scale(1);
	animation: pulse 2s infinite;
}


.info-block {
    height: 70px;
    width: inherit;
    position: fixed;
    bottom: 0;    
    text-align: center;
    background-color: #ccc;
    padding: 5px;
    min-width: inherit;
    left: 0; 
}

.info-content {
    
    padding-bottom: 5px;
}

.social i:hover {
    color:blue;
    cursor: pointer;
}

.info-block i,
.list-wrapper i {
    padding: 0 10px;
}

.info-content::selection  {
    color:white;
    background-color: lightsalmon;
    cursor: pointer;
}

.stream-info image {
    width: 48px;
    height: 48px;
}

.main-panel {
    width: 100%;
}

.category-panel {
    padding-top: 88px;
    display: grid;
    width: 100%;
    grid-auto-flow: column;
    grid-gap: 10px;
    padding-left: 10px;
}

.bage {
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #ccc;    
    padding: 4px;
}

.bage:hover {
    cursor:pointer;
}

.video-panel {
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill,250px);
    grid-gap: 20px;
    justify-content: center;
}

.video-container {    
    height: 180px;
    width: 220px;
}



.video-container .avatar{
    height: 24px;
    width: 24px;
    float:left;
}



.video-container .author{
    font-size: 12px;
    color: #bbb;
}

.video-container img{
    height: 150px;
    width: 220px;    
}



.video-container:hover .play{
    display: block;
    opacity: 0.8;
    cursor: pointer;
    height: 0;
}



.video-container .play{
    display: none;
    position: relative;
    bottom: 48%;
    left: 42%;
    color: white;
    font-size: 32px;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #ffffff;
    text-align: center;
    height: 50px;
    padding-right: 20%;
 }

 @media (max-width: 1200px) { 
    .info-block {
        display: none;
    }

    .left-sidebar {
        height: 100vh;        
    }

    .list-wrapper {
        height: 100vh;        
    }

    .list-wrapper span,
    .list-wrapper i {
        display: none;
    }

    .list-wrapper img {
        margin: 0 auto;
    }
}